
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // ----------------------------------------------------------------------
    // Funções Auxiliares
    // ----------------------------------------------------------------------

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    // ----------------------------------------------------------------------
    // Regras das Coleções
    // ----------------------------------------------------------------------

    match /users/{userId} {
      // O próprio documento do usuário pode ser lido por ele mesmo
      allow get: if isOwner(userId);

      // Regras para todas as subcoleções do usuário
      match /{collection}/{docId} {
        allow read, write: if isOwner(userId);
      }
    }
  }
}
